* {
    padding: 0px;
    box-sizing: border-box;
}

/*GENERELT*/

body {
    margin: 0;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 150px;
    font-weight: normal;
}

h3 {
    font-family: 'Cabin', sans-serif;
    font-size: 22px;
    margin-left: 4.5rem;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-left: 4.5rem;
}


p {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: medium;
    margin-top: 0;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: none;
    color: #b9b7b7;
    margin: 1vw;
}



.contentwrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1rem;
    padding-bottom: 10vw;
    margin: 0 auto;
    width: 90%;
}

.col_txt {
    flex-grow: 1;
    flex-basis: 500px;
    margin-right: 2rem;
}

.col_img {
    flex-grow: 1;
    flex-basis: 500px;
    margin-left: 2rem;
}

.gotosite_btn {
    width: 233px;
    height: 111px;
    margin-bottom: 10vw;
    background-size: cover;
}

.dokumentations_btn {
    width: 233px;
    height: 111px;
    margin-bottom: 10vw;
    background-size: cover;
}

/*GENERELT SLUT*/


/* HEADER*/

.logo {
    position: relative;
    height: 28px;
    width: 43px;
    background-image: url(ui_elementer/logo.svg);
    display: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Quicksand', sans-serif;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.nav_links li {
    list-style: none;
}

.nav_links a {
    color: black;
    text-decoration: none;
}

.burger_menu {
    background-image: url(ui_elementer/burger_icon.svg);
    width: 28px;
    height: 21px;
    display: none;
}

/* HEADER SLUT*/


/*BREADCRUM*/
.breadcrum {
    color: #b9b7b7;
    padding-top: 5vw;
    padding-left: 6vw;

}

.breadcrum a:hover {
    color: #5D5D5D;
}

.breadcrum {
    color: #b9b7b7;
    padding-top: 5vw;
    padding-left: 6vw;

}

.breadcrum a:hover {
    color: #5D5D5D;
}

.breadcrum .active {
    font-weight: medium;
}

/*BREADCRUM SLUT*/


/*FOOTER*/

.footer_logo {
    background-image: url(ui_elementer/footer.svg);
    width: 100vw;
    height: 3.2vw;
    bottom: 10px;
    position: fixed;
    background-size: cover;
}

/*FOOTER SLUT*/



/*FORSIDE*/

/*afprøv snenere*/
.logo_hide {
    display: none;
}

/*afprøv senere*/

/*FORSIDE SLUT*/



/*OM*/




/*OM SLUT*/


/*OVERSIGT*/

.watercolor_background {
    position: relative;
    margin-left: 32vw;
    height: 40%;
    width: 40%;
    z-index: -1;
    margin-top: 8vw;

}

.oversigt_wrapper {
    display: flex;
    padding: 1rem;
    margin-bottom: 60vw;
    margin-top: -61vw;
    padding: 0 20vw;
    padding-left: 28vw;

}


.content_kategori1 {

    flex-grow: 1;
    flex-basis: 500px;
    margin-left: 0vw;
    border-right: solid;
    margin-right: 3vw;
    border-width: 1.5px;
    border-right-color: #707070;
}

.content_kategori2 {

    flex-grow: 1;
    flex-basis: 550px;
    padding-left: 5vw;
    height: 66vw;


}

.kategori_nr2 {
    height: 70%;
    width: 70%;
    margin-top: 3vw;

}

.kategori_nr3 {
    height: 70%;
    width: 70%;
    margin-top: 14vw;

}


.kategori_nr4 {
    height: 70%;
    width: 70%;
    margin-top: -18vw;
}

.kategori_nr5 {
    height: 70%;
    width: 70%;
    margin-top: -20vw;

}



/*OVERSIGT SLUT*/



/*02*/

.waterwrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10vw;
    margin-bottom: 20vw;
}

.watercolor_headline {
    width: 300px;
    height: 120px;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}



#tema02 .image {
    background-image: url(content_pictures/content_individuelle_sites/dekonstruktivisme.png);
    height: 39vw;
    background-size: cover;
}




/*02 SLUT*/

/*03*/

#tema03 .image1 {
    background-image: url(content_pictures/content_individuelle_sites/espressohouse.png);
    height: 39vw;
    background-size: cover;
}

#tema03 .image2 {
    background-image: url(content_pictures/content_individuelle_sites/fruit_prototype.png);
    height: 39vw;
    background-size: cover;
}

#tema03 .image3 {
    background-image: url(content_pictures/content_individuelle_sites/Sk%C3%A6rmbillede%202020-01-04%20kl.%2022.59.49.png);
    height: 39vw;
    background-size: cover;
}

/*03 SLUT*/

/*04*/

#tema04 .image1 {
    background-image: url(content_pictures/content_individuelle_sites/game_screenshot.png);
    height: 50vw;
    background-size: cover;
}

#tema04 .image2 {
    background-image: url(content_pictures/content_individuelle_sites/sexogsamfund_spil.png);
    height: 50vw;
    background-size: cover;
}

#tema04 .btn_wrapper {
    display: flex;
    align-content: space-between;
}

.assetliste_btn {
    width: 233px;
    height: 111px;
    margin-bottom: 10vw;
    background-size: cover;
}

/*04 SLUT*/


/*05*/

#tema05 .image1 {
    background-image: url(content_pictures/content_individuelle_sites/IMG_7682.png);
    height: 50vw;
    background-size: cover;
}

#tema05 .image2 {
    background-image: url(content_pictures/content_individuelle_sites/handler.png);
    height: 40vw;
    background-size: cover;
}

/*05 SLUT*/


/*mediaquery*/


/*mediaquery mobile version*/

@media only screen and (max-width: 600px) {


    h3 {
        margin-left: 1.4rem;
    }

    h4 {
        margin-left: 1.4rem;
    }


    .nav_links {
        position: absolute;
        right: 0px;
        height: 40vh;
        top: 8vh;
        background-color: rgba(255, 255, 255, 0.71);
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-right: 8px;
        padding-bottom: 2rem;
        width: 50%;
        transform: translateY(-140%);

    }

    .nav_links li {}

    .burger_menu {
        display: block;
        margin-right: 5px;
    }


    nav {
        justify-content: space-between;
        align-items: flex-end;
    }



    .logo {
        margin-left: 5px;
        display: block;
    }


    .footer_logo {
        width: 400vw;
        height: 13vw;
        background-size: cover;
        margin-left: -148%;
    }

    .watercolor_headline {
        width: 150vw;
        height: 60vw;
    }


    .contentwrapper {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }

    .col_txt {
        margin-right: 0;
        margin-right: 2rem;
    }

    .col_img {
        margin-left: 0;
        margin-right: 2rem;
    }


    .btn_wrapper {
        margin-bottom: 20vw;
        margin-top: 10vw;
    }

    .image {
        width: 90vw;
        height: 80%;
    }


    #tema04 .btn_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.nav_active {
    transform: translateY(0%);
    transition: transform 0.9s ease-in;
}

/*mediaquery computer version*/
